@page "/ComboExamples"

<h3 class="text-primary">Select examples</h3>

<hr />

<div class="row">
    <div class="col-sm-6">

         <BbComboBox TValue="int"
                    ItemsSource="@_products"
                    TextName="Title"
                    ValueName="Id"
                    Size="BBComponents.Enums.BootstrapElementSizes.Sm"
                    IsDeletedName="IsDeleted"
                    Tooltip="Select product"
                    @bind-Value="@_selectedId"></BbComboBox>

    </div>
</div>
