@page "/ListGroupExamples"
@using BlazorWasmExamples.Models

<h3 class="text-primary">List group examples</h3>

<hr />

<h4 class="text-primary">Basic usage</h4>

<div class="row">

    <div class="col-sm-6">

        <div class="card">

            <BbListGroup TValue="Currency" ItemsSource="_currencies" HtmlClass="list-group-flush">
                <ItemTemplate Context="item">
                    <span>@item.Code</span><span class="float-right">@item.CodeNumeric</span>
                </ItemTemplate>
            </BbListGroup>

        </div>

    </div>

</div>