
.bb-date-picker {
    position: relative;
}

.bb-calendar {
    position: absolute;
    width: 230px;
    height: 225px;
    top: 40px;
    left: 1px;
    padding: 10px;
    border: 1px solid #cecece;
    background-color: white;
    z-index: 100;
}

.bb-calendar__header {
    height: 20px;
    font-weight: bold;
    text-align: center;
}

.bb-calendar__button {
    cursor: pointer;
    font-weight: bolder;
}

.bb-calendar__week-days {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    float: left;
}

.bb-calendar__week-day {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.bb-calendar__day {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

    .bb-calendar__day:hover {
        background-color: #dcdcdc;
    }

.bb-calendar__day_weekend {
    font-weight: bold;
}

.bb-calendar__day_active {
    background-color: navy;
    color: white;
}

.bb-calendar__day_another {
    color: grey;
}

.bb-combo-box {
    position: relative;
}

    .bb-combo-box .bb-dropdown {
        position: absolute;
        width: 100%;
        min-width: 230px;
        height: 225px;
        overflow-y: auto;
        left: 1px;
        border: 1px solid #cecece;
        background-color: white;
        z-index: 100;
    }

.bb-combo-box__items {
    margin: 0;
    padding: 0;
}

.bb-combo-box__item {
    list-style: none;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    line-height: 25px;
    padding-left: 3px;
    font-size: 10pt;
}

    .bb-combo-box__item:hover {
        background-color: #dedede;
    }

.bb-combo-box__item_deleted {
    text-decoration: line-through;
    color: red;
}

.bb-context-menu {
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.bb-context-menu__item {
    padding: 5px;
    font-size: 14px;
}

.bb-context-menu__delimiter {
    padding: 0px;
    font-size: 14px;
}

.bb-colapsible-group {
    width: 100%;
    display: flex;
}

.bb-colapsible-group__header {
    margin-left: auto;
}