<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BBComponents examples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="confirmExamples">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Confirm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="NumberInputExamples">
                <span class="oi oi-plus" aria-hidden="true"></span> Number input
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SelectExamples">
                <span class="oi oi-list" aria-hidden="true"></span> Select
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListGroupExamples">
                <span class="oi oi-list" aria-hidden="true"></span> List group
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AlertExamples">
                <span class="fa  fa-exclamation-triangle" aria-hidden="true" style="font-size:18px;"></span> &nbsp;&nbsp; Alerts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DatePickerExamples">
                <i class="fa  fa-calendar-day" aria-hidden="true" style="font-size:18px;"></i> &nbsp;&nbsp;<span>Date picker</span> 
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
