@page "/datepicker"

<h1>Date picker tests</h1>

<div class="row">

    <div class="col-sm-6">
        <BbDatePicker Format="MM/dd/yyyy" FirstWeekDay="BBComponents.Enums.FirstWeekDays.Sunday"></BbDatePicker>
    </div>

</div>

<div class="row" style="margin-top: 10px;">

    <div class="col-sm-6">
        <BbDatePicker Format="MM/dd/yyyy" FirstWeekDay="BBComponents.Enums.FirstWeekDays.Sunday" Size="BBComponents.Enums.BootstrapElementSizes.Sm"></BbDatePicker>
    </div>

</div>

<div class="row" style="margin-top: 10px;">

    <div class="col-sm-6">
        <BbDatePicker Format="MM/dd/yyyy" FirstWeekDay="BBComponents.Enums.FirstWeekDays.Sunday" Size="BBComponents.Enums.BootstrapElementSizes.Lg"></BbDatePicker>
    </div>

</div>


