@page "/inputtext"

<h3>Input text</h3>


<div class="row">

    <div class="col-sm-6">
        <BbTextInput @bind-Value="_textValue"></BbTextInput>
    </div>
    <div class="col-sm-6">
        @_textValue
    </div>

</div>